 .u-section-1 {
     background-image: url("../images/pexels-pixa-pexel-11616282.png");
     background-position: 50% 50%;
 }
 
 .u-section-1 .u-sheet-1 {
     min-height: 859px;
 }
 
 .u-section-1 .u-text-1 {
     letter-spacing: 0px;
     text-transform: none;
     font-weight: 700;
     font-family: Montserrat, sans-serif;
     font-size: 4.5rem;
     margin: 146px 364px 0 0;
 }
 
 .u-section-1 .u-btn-1 {
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 30px auto 0 38px;
     padding: 15px 61px 17px 60px;
 }
 
 .u-section-1 .u-text-2 {
     font-size: 1.25rem;
     letter-spacing: 0px;
     text-transform: none;
     line-height: 1.4;
     font-family: "Open Sans", sans-serif;
     font-weight: 400;
     margin: 187px 0 60px 608px;
 }
 
 @media (max-width: 1199px) {
     .u-section-1 .u-sheet-1 {
         min-height: 708px;
     }
     .u-section-1 .u-text-1 {
         margin-right: 164px;
     }
     .u-section-1 .u-btn-1 {
         margin-left: 0;
     }
     .u-section-1 .u-text-2 {
         margin-left: 408px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-1 .u-sheet-1 {
         min-height: 542px;
     }
     .u-section-1 .u-text-1 {
         width: auto;
         margin-top: 50px;
         margin-right: 0;
     }
     .u-section-1 .u-btn-1 {
         margin-top: 47px;
     }
     .u-section-1 .u-text-2 {
         margin-top: 169px;
         margin-bottom: 0;
         margin-left: 188px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-1 .u-sheet-1 {
         min-height: 407px;
     }
     .u-section-1 .u-text-1 {
         font-size: 3.75rem;
         margin-top: 53px;
     }
     .u-section-1 .u-btn-1 {
         margin-top: 53px;
     }
     .u-section-1 .u-text-2 {
         margin-left: 8px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-1 {
         background-position: 100% 0%;
     }
     .u-section-1 .u-sheet-1 {
         min-height: 256px;
     }
     .u-section-1 .u-text-1 {
         font-size: 2.25rem;
     }
     .u-section-1 .u-btn-1 {
         margin-top: 109px;
     }
     .u-section-1 .u-text-2 {
         margin-top: 113px;
         margin-left: 0;
     }
 }
 
 .u-section-2 .u-sheet-1 {
     min-height: 466px;
 }
 
 .u-section-2 .u-list-1 {
     margin-top: 60px;
     margin-bottom: 60px;
 }
 
 .u-section-2 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 15px));
     min-height: 326px;
     grid-gap: 30px;
 }
 
 .u-section-2 .u-list-item-1 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
 }
 
 .u-section-2 .u-container-layout-1 {
     padding: 20px;
 }
 
 .u-section-2 .u-shape-1 {
     width: 50px;
     height: 50px;
     margin: 0 auto 0 0;
 }
 
 .u-section-2 .u-text-1 {
     margin: -50px 1px 0 80px;
 }
 
 .u-section-2 .u-list-item-2 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
 }
 
 .u-section-2 .u-container-layout-2 {
     padding: 20px;
 }
 
 .u-section-2 .u-shape-2 {
     width: 50px;
     height: 50px;
     margin: 0 auto 0 0;
 }
 
 .u-section-2 .u-text-2 {
     margin: -50px 1px 0 80px;
 }
 
 .u-section-2 .u-list-item-3 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
 }
 
 .u-section-2 .u-container-layout-3 {
     padding: 20px;
 }
 
 .u-section-2 .u-shape-3 {
     width: 50px;
     height: 50px;
     margin: 0 auto 0 0;
 }
 
 .u-section-2 .u-text-3 {
     margin: -50px 1px 0 80px;
 }
 
 .u-section-2 .u-list-item-4 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
 }
 
 .u-section-2 .u-container-layout-4 {
     padding: 20px;
 }
 
 .u-section-2 .u-shape-4 {
     width: 50px;
     height: 50px;
     margin: 0 auto 0 0;
 }
 
 .u-section-2 .u-text-4 {
     margin: -50px 1px 0 80px;
 }
 
 @media (max-width: 1199px) {
     .u-section-2 .u-sheet-1 {
         min-height: 485px;
     }
     .u-section-2 .u-list-1 {
         margin-top: 7px;
         margin-bottom: 7px;
     }
     .u-section-2 .u-repeater-1 {
         min-height: 269px;
     }
     .u-section-2 .u-text-1 {
         width: auto;
         margin-right: 0;
         margin-left: 81px;
     }
     .u-section-2 .u-text-2 {
         width: auto;
         margin-right: 0;
         margin-left: 81px;
     }
     .u-section-2 .u-text-3 {
         width: auto;
         margin-right: 0;
         margin-left: 81px;
     }
     .u-section-2 .u-text-4 {
         width: auto;
         margin-right: 0;
         margin-left: 81px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-2 .u-sheet-1 {
         min-height: 874px;
     }
     .u-section-2 .u-repeater-1 {
         grid-template-columns: 100%;
     }
     .u-section-2 .u-text-1 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-2 .u-text-2 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-2 .u-text-3 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-2 .u-text-4 {
         margin-top: 20px;
         margin-left: 0;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-2 .u-sheet-1 {
         min-height: 466px;
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-container-layout-4 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 .u-section-3 {
     background-image: url("../images/4719304-0-10.jpeg");
     background-position: 50% 50%;
 }
 
 .u-section-3 .u-sheet-1 {
     min-height: 603px;
 }
 
 .u-section-3 .u-layout-wrap-1 {
     margin-top: 60px;
     margin-bottom: 0;
 }
 
 .u-section-3 .u-layout-cell-1 {
     min-height: 543px;
     --animation-custom_in-scale: 0.3;
 }
 
 .u-section-3 .u-container-layout-1 {
     padding: 30px;
 }
 
 .u-section-3 .u-text-1 {
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: 300;
     margin: 27px 187px 0 1px;
 }
 
 .u-section-3 .u-text-2 {
     font-weight: 700;
     font-size: 7.5rem;
     margin: 20px 1px 0;
 }
 
 .u-section-3 .u-text-3 {
     font-weight: 700;
     font-size: 2.25rem;
     margin: 29px 1px 0;
 }
 
 .u-section-3 .u-btn-1 {
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 36px auto 0 20px;
     padding: 15px 61px 17px 60px;
 }
 
 .u-section-3 .u-layout-cell-2 {
     min-height: 543px;
 }
 
 .u-section-3 .u-container-layout-2 {
     padding: 30px;
 }
 
 @media (max-width: 1199px) {
     .u-section-3 .u-sheet-1 {
         min-height: 402px;
     }
     .u-section-3 .u-layout-cell-1 {
         min-height: 448px;
     }
     .u-section-3 .u-text-1 {
         margin-right: 88px;
         margin-left: 0;
     }
     .u-section-3 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-3 .u-text-3 {
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-3 .u-btn-1 {
         margin-left: 0;
     }
     .u-section-3 .u-layout-cell-2 {
         min-height: 448px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-3 .u-sheet-1 {
         min-height: 442px;
     }
     .u-section-3 .u-layout-cell-1 {
         min-height: 100px;
     }
     .u-section-3 .u-text-1 {
         margin-right: 0;
     }
     .u-section-3 .u-layout-cell-2 {
         min-height: 343px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-3 .u-sheet-1 {
         min-height: 542px;
     }
     .u-section-3 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-3 .u-layout-cell-2 {
         min-height: 515px;
     }
     .u-section-3 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-3 .u-text-2 {
         font-size: 6rem;
     }
     .u-section-3 .u-text-3 {
         font-size: 1.5rem;
     }
     .u-section-3 .u-layout-cell-2 {
         min-height: 324px;
     }
 }
 
 .u-section-4 {
     background-image: url("../images/pexels-vlado-paunovic-9451497.jpg");
     background-position: 50% 50%;
 }
 
 .u-section-4 .u-sheet-1 {
     min-height: 679px;
 }
 
 .u-section-4 .u-text-1 {
     font-size: 4.5rem;
     margin: 30px 475px 0 147px;
 }
 
 .u-section-4 .u-group-1 {
     width: 106px;
     min-height: 106px;
     margin: -199px auto 0 0;
 }
 
 .u-section-4 .u-text-2 {
     font-size: 4.5rem;
     font-weight: 700;
     width: 77px;
     margin: 0 auto;
 }
 
 .u-section-4 .u-text-3 {
     font-weight: 700;
     margin: 135px 703px 0 0;
 }
 
 .u-section-4 .u-btn-1 {
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 31px auto 60px 29px;
     padding: 15px 61px 17px 60px;
 }
 
 @media (max-width: 1199px) {
     .u-section-4 .u-sheet-1 {
         min-height: 560px;
     }
     .u-section-4 .u-text-1 {
         margin-top: 186px;
         margin-right: 639px;
         margin-left: 0;
     }
     .u-section-4 .u-group-1 {
         margin-top: -586px;
     }
     .u-section-4 .u-text-3 {
         margin-top: 636px;
         margin-right: 503px;
     }
     .u-section-4 .u-btn-1 {
         margin-left: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-4 .u-sheet-1 {
         min-height: 429px;
     }
     .u-section-4 .u-text-1 {
         margin-right: 202px;
     }
     .u-section-4 .u-group-1 {
         margin-top: -356px;
     }
     .u-section-4 .u-text-3 {
         margin-top: 406px;
         margin-right: 283px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-4 .u-sheet-1 {
         min-height: 322px;
     }
     .u-section-4 .u-text-1 {
         margin-right: 22px;
     }
     .u-section-4 .u-text-3 {
         margin-right: 103px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-4 .u-sheet-1 {
         min-height: 203px;
     }
     .u-section-4 .u-text-1 {
         margin-right: 0;
     }
     .u-section-4 .u-group-1 {
         margin-top: -586px;
     }
     .u-section-4 .u-text-3 {
         margin-top: 636px;
         margin-right: 0;
     }
 }
 
 .u-section-5 {
     background-image: none;
 }
 
 .u-section-5 .u-sheet-1 {
     min-height: 859px;
 }
 
 .u-section-5 .u-text-1 {
     font-weight: 700;
     font-size: 4.5rem;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     margin: 33px 130px 0 18px;
 }
 
 .u-section-5 .u-list-1 {
     width: 696px;
     margin: 18px 0 0 auto;
 }
 
 .u-section-5 .u-repeater-1 {
     grid-template-columns: repeat(1, 100%);
     min-height: 460px;
     grid-gap: 30px;
 }
 
 .u-section-5 .u-container-layout-1 {
     padding: 20px;
 }
 
 .u-section-5 .u-group-1 {
     width: 102px;
     min-height: 91px;
     margin: 0 auto 0 0;
 }
 
 .u-section-5 .u-text-2 {
     font-size: 3rem;
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-5 .u-text-3 {
     margin: -91px 0 0 132px;
 }
 
 .u-section-5 .u-container-layout-3 {
     padding: 20px;
 }
 
 .u-section-5 .u-group-2 {
     width: 102px;
     min-height: 91px;
     margin: 0 auto 0 0;
 }
 
 .u-section-5 .u-text-4 {
     font-size: 3rem;
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-5 .u-text-5 {
     margin: -91px 0 0 132px;
 }
 
 .u-section-5 .u-container-layout-5 {
     padding: 20px;
 }
 
 .u-section-5 .u-group-3 {
     width: 102px;
     min-height: 91px;
     margin: 0 auto 0 0;
 }
 
 .u-section-5 .u-text-6 {
     font-size: 3rem;
     font-weight: 700;
     margin: 0 auto;
 }
 
 .u-section-5 .u-text-7 {
     margin: -91px 0 0 132px;
 }
 
 .u-section-5 .u-list-2 {
     width: 186px;
     margin: -440px auto 60px 214px;
 }
 
 .u-section-5 .u-repeater-2 {
     min-height: 420px;
     grid-template-columns: 100%;
     grid-gap: 99px 99px;
 }
 
 .u-section-5 .u-container-layout-7 {
     padding: 10px;
 }
 
 .u-section-5 .u-btn-1 {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 0 auto 0 0;
     padding: 15px 61px 17px 60px;
 }
 
 .u-section-5 .u-container-layout-8 {
     padding: 10px;
 }
 
 .u-section-5 .u-btn-2 {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 0 auto 0 0;
     padding: 15px 61px 17px 60px;
 }
 
 .u-section-5 .u-container-layout-9 {
     padding: 10px;
 }
 
 .u-section-5 .u-btn-3 {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 0.875rem;
     letter-spacing: 1px;
     background-image: none;
     margin: 0 auto 0 0;
     padding: 15px 61px 17px 60px;
 }
 
 @media (max-width: 1199px) {
     .u-section-5 .u-text-1 {
         font-size: 3.75rem;
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-5 .u-list-1 {
         margin-top: 40px;
         margin-bottom: -15px;
     }
     .u-section-5 .u-repeater-1 {
         grid-template-columns: 100%;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-5 .u-text-1 {
         font-size: 3rem;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-5 .u-list-1 {
         width: 540px;
     }
     .u-section-5 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-5 .u-text-3 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-5 .u-container-layout-3 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-5 .u-text-5 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-5 .u-container-layout-5 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-5 .u-text-7 {
         margin-top: 20px;
         margin-left: 0;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-5 .u-text-1 {
         font-size: 2.25rem;
     }
     .u-section-5 .u-list-1 {
         width: 340px;
     }
     .u-section-5 .u-list-2 {
         margin-left: 154px;
     }
 }
 
 .u-section-6 {
     min-height: 792px;
 }
 
 .u-section-6 .u-layout-wrap-1 {
     width: 890px;
     margin: 60px auto 0 calc(((100% - 1140px) / 2) + 125px);
 }
 
 .u-section-6 .u-layout-cell-1 {
     min-height: 270px;
 }
 
 .u-section-6 .u-container-layout-1 {
     padding: 30px 30px 29px;
 }
 
 .u-section-6 .u-text-1 {
     font-weight: 700;
     font-size: 2.25rem;
     margin: 0 0 0 auto;
 }
 
 .u-section-6 .u-text-2 {
     margin: 30px 0 0;
 }
 
 .u-section-6 .u-layout-cell-2 {
     min-height: 270px;
 }
 
 .u-section-6 .u-container-layout-2 {
     padding: 30px;
 }
 
 .u-section-6 .u-text-3 {
     font-size: 1.25rem;
     margin: 0 35px 0 0;
 }
 
 .u-section-6 .u-text-4 {
     font-weight: 400;
     font-size: 1.875rem;
     margin: 20px 113px 0 0;
 }
 
 .u-section-6 .u-image-1 {
     height: 432px;
     margin-top: 30px;
     margin-bottom: 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-6 .u-layout-wrap-1 {
         margin-left: auto;
     }
     .u-section-6 .u-text-3 {
         width: 350px;
     }
     .u-section-6 .u-text-4 {
         width: 272px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-6 {
         min-height: 804px;
     }
     .u-section-6 .u-layout-wrap-1 {
         position: relative;
         width: 720px;
     }
     .u-section-6 .u-layout-cell-1 {
         min-height: 100px;
     }
     .u-section-6 .u-layout-cell-2 {
         min-height: 100px;
     }
     .u-section-6 .u-text-3 {
         margin-right: 0;
         width: 300px;
     }
     .u-section-6 .u-text-4 {
         margin-right: 28px;
     }
     .u-section-6 .u-image-1 {
         margin-bottom: 4px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-6 {
         min-height: 1001px;
     }
     .u-section-6 .u-layout-wrap-1 {
         width: 540px;
     }
     .u-section-6 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-6 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-6 .u-image-1 {
         margin-bottom: 3px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-6 {
         min-height: 1039px;
     }
     .u-section-6 .u-layout-wrap-1 {
         width: 340px;
     }
     .u-section-6 .u-text-4 {
         margin-right: 0;
     }
     .u-section-6 .u-image-1 {
         margin-bottom: 0;
     }
 }